/*-----------------------------------*\ 
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 @codewithsadee 
 */





/*-----------------------------------*\ 
  #CUSTOM PROPERTY
\*-----------------------------------*/

.light-theme {

  /**
   * light theme colors 
   */

  --background-primary: hsl(0, 0%, 100%);
  --background-secondary: hsl(0, 0%, 97%);

  --action-primary: hsl(214, 32%, 91%);
  --action-secondary: hsl(210, 38%, 95%);

  --foreground-primary: hsl(218, 23%, 23%);
  --foreground-secondary: hsl(216, 15%, 52%);
  --foreground-tertiary: hsl(214, 20%, 69%);

  --accent: hsl(229, 76%, 66%);

}

.dark-theme {

  /**
   * dark theme colors 
   */

  --background-primary: hsl(218, 23%, 23%);
  --background-secondary: hsl(220, 26%, 14%);

  --action-primary: hsl(216, 15%, 52%);
  --action-secondary: hsl(218, 23%, 23%);

  --foreground-primary: hsl(210, 38%, 95%);
  --foreground-secondary: hsl(211, 25%, 84%);
  --foreground-tertiary: hsl(214, 20%, 69%);

  --accent: hsl(229, 76%, 66%);

}

:root {

  /**
   * color
   */

  --white: hsl(0, 0%, 100%);

  /**
   * typography 
   */

  --fs-base: 0.85rem;
  --fs-1: 1.875rem;
  --fs-2: 1.5rem;
  --fs-3: 1.25rem;
  --fs-4: 0.875rem;
  --fs-5: 0.75rem;

  /**
   * spacing 
   */

  --py: 5rem;

}





/*-----------------------------------*\ 
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

a { text-decoration: none; }

li { list-style: none; }

img, button { display: block; }

a, span { display: inline-block; }



/*-----------------------------------*\ 
  #BASE STYLE
\*-----------------------------------*/

.h1,
.h2,
.h3,
.h4 {
  display: block;
  color: var(--foreground-primary);
}

.h1 {
  font-size: var(--fs-1);
  font-weight: 900;
}

.h2 {
  font-size: var(--fs-2);
  font-weight: 700;
}

.h3 {
  font-size: var(--fs-3);
  font-weight: 700;
}

.h4 {
  font-size: var(--fs-4);
  font-weight: 700;
}

.text-sm { font-size: var(--fs-4); }

.text-tiny { font-size: var(--fs-5); }





/*-----------------------------------*\ 
  #REUSED STYLE
\*-----------------------------------*/

.container5 {
  margin-inline: auto;
  margin: auto; /* fallback for margin-inline */
  padding: 0 15px;
}

.btn4 {
  min-width: 10rem;
  border-radius: 100px;
}

.btn-primary {
  background: var(--accent);
  color: var(--white);
  padding: 0.6875rem 1.1875rem;
}

.btn-primary:hover {
  background: var(--foreground-secondary);
  color: var(--action-primary);
}

.btn-secondary {
  background: var(--action-secondary);
  color: var(--foreground-secondary);
  padding: 0.5rem 1rem;
  border: 3px solid var(--foreground-tertiary);
}

.btn-secondary:hover { border-color: var(--accent); }


/*-----------------------------------*\ 
  #BLOG SECTION
\*-----------------------------------*/

.main1{
  background: var(--background-secondary);
  padding: var(--py) 0;
}

.blog .h2 {
  line-height: 1.3;
  margin-bottom: 3rem;
  text-align: center;
}

.blog-card-group { margin-bottom: 3rem; }

.blog-card {
  background: var(--background-primary);
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.05);
  transition: 0.25s ease;
}

.blog-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.1);
}

.blog-card-banner { display: block; }

.blog-content-wrapper { padding: 10px 5px; }

.blog-topic {
  background: var(--action-secondary);
  color: var(--foreground-secondary);
  font-weight: 600;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.blog-topic:hover {
  background: var(--foreground-secondary);
  color: var(--action-secondary);
}

.blog-card .h3 {
  line-height: 1.4;
  margin-bottom: 1rem;
}

.blog-card .h3:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.blog-text,
.profile-wrapper { display: none; }

.blog .wrapper {
  display:         flex;
  justify-content: space-between;
  align-items:     center;
  flex-wrap:       wrap;
  gap: 15px;
}

.blog .h4 { color: var(--foreground-secondary); }

.blog .h4:hover { color: var(--accent); }

.blog .text-sm {
  display:     flex;
  align-items: center;
  gap: 5px;
  color: var(--foreground-tertiary);
}

.blog .separator {
  background: var(--foreground-tertiary);
  margin-inline: 3px;
  margin: 0 3px; /* fallback for margin-inline */
  width:  3px;
  height: 3px;
  border-radius: 3px;
}

.blog ion-icon { --ionicon-stroke-width: 50px; }

.load-more {
  margin-inline: auto;
  margin: auto; /* fallback for margin-inline */
  background: var(--foreground-secondary);
  color: var(--background-secondary);
  padding: 0.6875rem 1.1875rem;
}

.load-more:hover { background: var(--accent); }

.blog-banner-img1 {
  width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure the image takes up the entire width of its container */
  border-radius: 10px 10px 0 0; /* Optional: Round the top corners for better appearance */
  margin-bottom: 1rem; /* Space below the image */
}




/*-----------------------------------*\ 
  #ASIDE
\*-----------------------------------*/

.aside { display: none; }


/*-----------------------------------*\ 
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 550px screen
 */

@media (min-width: 550px) {

  :root {

    /**
     * typography 
     */

    --fs-base: 0.90rem;

  }


  /**
   * BLOG 
   */

  .blog-card {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 20px;
  }
  .blog-read {
    display: block;
    gap: 20px;
  }

  .blog-card-banner {
    display: block;
    overflow: hidden;
    border-radius: 5px;
  }
 
  .blog-banner-img {
    width:  100%;
    height: 100%;
    object-fit: cover;
  }

}





/**
 * responsive for larger than 650px screen
 */

@media (min-width: 650px) {

  :root {

    /**
     * typography 
     */

    --fs-1: 2.25rem;

  }



  /**
   * REUSED STYLE 
   */

  .container5 { padding: 0 30px; }





  /**
   * BLOG 
   */

  .blog .h2 {
    position: relative;
    text-align: left;
    padding-left: 2rem;
  }

  .blog .h2::before {
    content: '';
    position: absolute;
    top:  0;
    left: 0;
    background: var(--action-primary);
    width:  5px;
    height: 100%;
    border-radius: 5px;
  }

  .blog-text,
  .profile-wrapper { display: block; }

  .blog-text {
    color: var(--foreground-secondary);
    font-size: var(--fs-4);
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  .blog .wrapper-flex {
    display:         flex;
    justify-content: start;
    align-items:     center;
    gap: 10px;
  }

  .profile-wrapper {
    width:  56px;
    height: 56px;
    background: var(--action-primary);
    padding: 3px;
    border-radius: 50%;
  }

  .profile-wrapper img { border-radius: 50%; }

  .blog .wrapper {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

}


/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * REUSED STYLE 
   */

  .container5 { max-width: 800px; }

}





/**
 * responsive for larger than 1024px screen
 */

@media (min-width: 1024px) {

  :root {

    /**
     * typography 
     */

    --fs-base: 1rem;
    --fs-1: 3rem;

  }



  /**
   * REUSED STYLE 
   */

  .container5 { max-width: 1150px; }


  /**
   * MAIN 
   */

  .main1 .container5 {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 60px;
  }



  /**
   * ASIDE 
   */

  .aside {
    display: block;
    align-self: stretch;
  }

  .aside .h2 {
    color: var(--foreground-secondary);
    margin-bottom: 3rem;
    text-align: center;
    line-height: 1.3;
  }

  .aside .wrapper {
    background: var(--background-primary);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.05);
  }

  .topics { margin-bottom: 3rem; }

  .topic-btn {
    display:     flex;
    align-items: stretch;
    background: var(--background-primary);
    border-radius: 10px;
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.05);
    overflow: hidden;
  }

  .topic-btn:not(:last-child) { margin-bottom: 1rem; }

  .topic-btn .icon-box {
    font-size: 22px;
    width: 70px;
    display:         flex;
    justify-content: center;
    align-items:     center;
    background: var(--action-primary);
    color: var(--foreground-secondary);
  }

  .topic-btn:hover .icon-box {
    background: var(--accent);
    color: var(--white);
  }

  .topic-btn ion-icon { --ionicon-stroke-width: 40px; }

  .topic-btn p {
    padding: 15px;
    color: var(--foreground-secondary);
    font-weight: 700;
  }

  .tags { margin-bottom: 3rem; }

  .tags .wrapper {
    display:   flex;
    flex-wrap: wrap;
    gap: 0.2rem;
  }

  .tags .hashtag {
    background: var(--action-primary);
    color: var(--foreground-secondary);
    padding: 5px 10px;
    font-size: var(--fs-5);
    font-weight: 700;
    border-radius: 5px;
  }

  .tags .hashtag:hover {
    background: var(--foreground-secondary);
    color: var(--action-primary);
  }

  .contact { margin-bottom: 3rem; }

  .contact p {
    color: var(--foreground-secondary);
    margin-bottom: 1rem;
  }

  .social-link {
    display:         flex;
    justify-content: center;
    align-items:     center;
    gap: 10px;
  }

  .social-link .icon-box {
    width:  45px;
    height: 45px;
    background: var(--action-secondary);
    border-radius: 50%;
    display:         flex;
    justify-content: center;
    align-items:     center;
    font-size: 22px;
  }

  .social-link .discord { color: hsl(235, 86%, 65%); }

  .social-link .twitter { color: hsl(203, 89%, 53%); }

  .social-link .facebook { color: hsl(220, 46%, 48%); }
  
  .social-link .icon-box:hover {
    background: var(--accent);
    color: var(--white);
  }

  .newsletter {
    position: sticky;
    top: 3rem;
    margin-bottom: 98px;
  }

  .newsletter p {
    color: var(--foreground-secondary);
    margin-bottom: 1rem;
  }

  .newsletter input {
    border: none;
    background: var(--action-primary);
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font: inherit;
    color: var(--foreground-secondary);
    border-radius: 5px;
    margin-bottom: 1rem;
  }

  .newsletter input::placeholder { color: inherit; }

  .newsletter input:focus {
    outline: 2px solid;
    outline-offset: 0;
  }

  .newsletter .btn-primary {
    margin-inline: auto;
    margin: auto; /* fallback for margin-inline */
  }



}
